<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
    あなたは店で販売している全商品をまとめた表を持っています。このデータは{% if interpreter.slug == "js-node" %}オブジェクト{% else %}辞書{% endif %}のリストで表現されます。
</p>

<p>
    あなたのミッションは、最も高額な品物を見つけることです。見つけ出す品物の数は最初の引数で与えられ、2番目の引数で全ての商品が与えられます。
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p>
    <strong>出力: </strong> 入力の2番目の引数と同じ形式
</p>



<div class="for_info_only">
    <p>
        <strong>例:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
