<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
    У тебе є стіл з усіма наявними товарами в магазині. Дані представлені у вигляді списку {% if interpreter.slug == "js-node" %}об'єктів{% else %}словників{% endif %}.
</p>

<p>
    Твоя місія тут - знайти ТОП найдорожчих товарів. Сума, яку ми шукаємо, буде подана як перший аргумент, а всі дані як другий.
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p>
    <strong>Вихідні дані: </strong> Список {% if interpreter.slug == "js-node" %}об'єктів{% else %}словників{% endif %}.
</p>



<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

