<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
    Дана таблица всех доступных продуктов на складе. Данные представлены в виде {% if interpreter.slug == "js-node" %} массива объектов (array of objects){% else %}списка словарей (a list of dicts){% endif %}
</p>

<p>
    Ваша миссия тут - это найти ТОП самых дорогих товаров. Количество товаров, которые мы ищем, будет передано в первом аргументе, а сами данные по товарам будут переданы вторым аргументом.
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p>
    <strong>Вых. данные: </strong>Такой же как и второй аргумент.
</p>



<div class="for_info_only">
    <p>
        <strong>Примеры:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

